<header class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h1
            class="text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Tanzpartner & Gruppen in Kiel finden – mit Pa'bailar Connect
        </h1>
        <p
            class="mt-4 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
            Vernetze dich mit der lebendigen Tanzgemeinschaft in Kiel und finde
            Tanzpartner für Salsa, Bachata und Kizomba.
        </p>
    </div>
</header>

<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
            Du bist auf der Suche nach einem Tanzpartner in Kiel oder möchtest
            neue Tanzfreunde finden, um gemeinsam Salsa, Bachata oder Kizomba zu
            tanzen? Unsere pa'bailar Connect-Funktion bietet dir eine
            hervorragende Möglichkeit, dich mit der lebendigen Tanzgemeinschaft
            in Kiel zu vernetzen. Egal, ob du für ein bevorstehendes Event einen
            passenden Tanzpartner suchst oder einfach nur Gleichgesinnte treffen
            möchtest – Pa'bailar Connect macht es dir leicht, die richtigen
            Kontakte zu knüpfen und die Tanzszene in Kiel zu erleben.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-8">
            <div class="bg-gray-200 dark:bg-gray-700 h-48 rounded-lg"></div>
            <div class="bg-gray-200 dark:bg-gray-700 h-48 rounded-lg"></div>
            <div class="bg-gray-200 dark:bg-gray-700 h-48 rounded-lg"></div>
        </div>
    </div>
</section>

<section class="bg-gray-50 dark:bg-gray-800">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
            Wie funktioniert Pa'bailar Connect?
        </h2>
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
            Pa'bailar Connect ist deine Eintrittskarte in die lebendige
            Tanzgemeinschaft von Kiel. Derzeit nutzen wir eine WhatsApp-Gruppe,
            um Tänzerinnen und Tänzer miteinander zu vernetzen. So funktioniert
            es:
        </p>

        <div
            class="flex flex-col md:flex-row items-center justify-center gap-8 my-8">
            <div class="bg-white p-4 rounded-lg shadow-md">
                <div class="bg-gray-200 w-48 h-48 rounded-lg">
                    <img
                        src="../../../assets/img/pabailarqr.webp"
                        alt="QR-Code"
                        class="w-full h-full object-cover rounded-lg" />
                </div>
                <p class="mt-2 text-center text-gray-600 dark:text-gray-400">
                    QR-Code scannen
                </p>
            </div>
            <a
                href="https://chat.whatsapp.com/KbJo27ovlid4y0072zfN91"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                WhatsApp-Gruppe beitreten
                <svg
                    class="w-4 h-4 ml-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>

        <ol
            class="space-y-4 text-gray-500 list-decimal list-inside dark:text-gray-400">
            <li>
                <span class="font-semibold text-gray-900 dark:text-white"
                    >QR-Code scannen oder Link anklicken:</span
                >
                Um der Gruppe beizutreten, kannst du einfach den QR-Code scannen
                oder auf den bereitgestellten Link klicken. Beide Optionen
                bringen dich direkt in die WhatsApp-Gruppe von Pa'bailar
                Connect.
            </li>
            <li>
                <span class="font-semibold text-gray-900 dark:text-white"
                    >Mitmachen und aktiv werden:</span
                >
                Da wir uns noch in der Anfangsphase befinden, ist es besonders
                wichtig, dass du dich aktiv beteiligst. Jeder Anfang ist schwer,
                aber je mehr du schreibst und dich mit anderen austauschst,
                desto mehr Leben kommt in die Gruppe. Teile deine Tanzpläne,
                Wissen über kommende Socials und Events, stelle Fragen,
                verabrede dich für Events und motiviere andere Mitglieder,
                ebenfalls aktiv zu werden.
            </li>
            <li>
                <span class="font-semibold text-gray-900 dark:text-white"
                    >Genießen und Spaß haben:</span
                >
                Nutze die Möglichkeiten, die Pa'bailar Connect bietet, um dein
                Tanzerlebnis zu bereichern. Finde Tanzpartner, plane gemeinsame
                Übungseinheiten, besuche Events zusammen und genieße einfach die
                Zeit in einer tollen Gemeinschaft. Der Spaß am Tanzen steht
                immer im Vordergrund!
            </li>
        </ol>

        <p class="mt-4 text-lg text-gray-500 dark:text-gray-400">
            Pa'bailar Connect ist der perfekte Ort, um neue Tanzpartner und
            Freunde zu finden, die deine Leidenschaft für Salsa, Bachata und
            Kizomba teilen. Werde Teil unserer Community und erlebe die
            Tanzszene in Kiel in vollen Zügen!
        </p>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
            Die Vorteile von Pa'bailar Connect:
        </h2>
        <ul class="space-y-4 text-gray-500 dark:text-gray-400">
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Einfache Vernetzung:</strong> Unsere
                    Connect-Funktion ermöglicht es dir, unkompliziert mit
                    anderen Tänzern in Kiel in Kontakt zu treten. Nutze die
                    Plattform, um durch gezielte Vernetzung gleichgesinnte
                    Tänzerinnen und Tänzer zu treffen und deine Tanzgemeinschaft
                    zu erweitern.</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Verabredungen für Events:</strong> Mit Pa'bailar
                    Connect kannst du dich problemlos für bevorstehende
                    Tanzveranstaltungen verabreden. Wenn du die neuesten
                    Tanzgruppen in Kiel kennenlernen oder gemeinsam zu einem
                    Event gehen möchtest, findest du über unsere Plattform die
                    passenden Kontakte. Tausche dich mit anderen Tänzern aus und
                    plane gemeinsame Besuche bei aufregenden Tanzpartys und
                    Socials in Kiel.</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Förderung der Community:</strong> Bei Pa'bailar
                    geht es nicht nur um das Finden von Tanzpartnern, sondern
                    auch um das Schaffen einer lebendigen und unterstützenden
                    Community. Durch unsere Connect-Funktion kannst du nicht nur
                    deine Tanzfähigkeiten verbessern, sondern auch
                    Freundschaften schließen und gemeinsame Erlebnisse
                    teilen.</span
                >
            </li>
        </ul>

        <div class="mt-8 text-center">
            <a
                href="https://chat.whatsapp.com/KbJo27ovlid4y0072zfN91"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >Jetzt Pa'bailar Connect nutzen!</a
            >
            <p class="mt-4 text-gray-500 dark:text-gray-400">
                Tritt unserer wachsenden Community bei und entdecke die vielen
                Möglichkeiten, wie du dich mit anderen Tänzern in Kiel verbinden
                kannst.
            </p>
        </div>
    </div>
</section>

<section class="bg-gray-50 dark:bg-gray-800">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
            Noch unsicher?
        </h2>
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
            Noch unsicher, was du mit deinen neuen Tanzfreunden machen möchtest?
            Hier findest du die Übersicht zu laufenden Tanzkursen oder kommenden
            Events in Kiel.
        </p>
        <div class="flex flex-col sm:flex-row justify-center gap-4 mt-8">
            <a
                href="/kurse"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Tanzkurse in Kiel
                <svg
                    class="w-4 h-4 ml-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <a
                href="/events"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Kommende Events
                <svg
                    class="w-4 h-4 ml-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
        <p class="mt-4 text-center text-gray-500 dark:text-gray-400">
            Viel Spaß beim gemeinsamen Tanzen!
        </p>
    </div>
</section>

