<section class="container px-4 mx-auto max-w-8xl">
    <div class="">
        <h1 class="text-3xl font-bold mb-4">
            Allgemeine Geschäftsbedingungen (AGB) für die Vermittlung von
            Tanzraumvermietungen:
        </h1>
        <ul class="list-disc pl-6 mb-8">
            <li class="mb-4">
                Gegenstand der Vermittlung: Die vorliegenden AGB regeln die
                Bedingungen für die Vermittlung von Tanzraumvermietungen durch
                Pa'bailar. Der Vermittler stellt lediglich eine Plattform zur
                Verfügung, über die Mieter Tanzräume von Vermietern anmieten
                können.
            </li>
            <li class="mb-4">
                Keine Haftung für Schäden: Der Vermittler übernimmt keine
                Haftung für Schäden, die durch Mieter an den Tanzräumen
                verursacht werden. Jegliche Haftung für Schäden, die während der
                Nutzung der vermieteten Räume auftreten, liegt ausschließlich
                beim Mieter und/oder dem Vermieter des Tanzraums.
            </li>
            <li class="mb-4">
                Keine Haftung für Verletzungen: Der Vermittler haftet nicht für
                Verletzungen oder Unfälle, die während der Nutzung der Tanzräume
                auftreten. Die Verantwortung für die Sicherheit der Nutzer liegt
                allein beim Mieter und/oder dem Vermieter des Tanzraums.
            </li>
            <li class="mb-4">
                Abschluss des Mietvertrags: Der Vermittler übernimmt keine
                Verantwortung für den Inhalt oder die Durchführung des
                Mietvertrags zwischen Mieter und Vermieter. Jegliche rechtlichen
                Verpflichtungen und Vereinbarungen zwischen Mieter und Vermieter
                werden unabhängig von der Vermittlung durch den Vermittler
                eingegangen.
            </li>
            <li class="mb-4">
                Nutzung der Plattform: Die Nutzung der Plattform des Vermittlers
                zur Vermietung von Tanzräumen erfolgt auf eigene Gefahr des
                Nutzers. Der Vermittler haftet nicht für Schäden, die durch die
                Nutzung der Plattform entstehen.
            </li>
            <li class="mb-4">
                Änderung der AGB: Der Vermittler behält sich das Recht vor,
                diese AGB jederzeit ohne vorherige Ankündigung zu ändern oder zu
                aktualisieren. Es liegt in der Verantwortung des Nutzers, die
                AGB regelmäßig auf Änderungen zu überprüfen.
            </li>
            <li class="mb-4">
                Salvatorische Klausel: Sollten einzelne Bestimmungen dieser AGB
                unwirksam sein oder werden, so wird die Wirksamkeit der übrigen
                Bestimmungen davon nicht berührt. Anstelle der unwirksamen
                Bestimmung gilt eine wirksame Regelung, die dem wirtschaftlichen
                Zweck der unwirksamen Bestimmung am nächsten kommt.
            </li>
        </ul>
    </div>
</section>
