<header class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h1
            class="text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Tanzräume für Selbstlerner in Kiel
        </h1>
        <p
            class="mt-4 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
            Finde und buche den perfekten Raum für dein individuelles
            Tanztraining in Kiel.
        </p>
    </div>
</header>

<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
            Suchst du nach einem Tanzraum in Kiel, um deine Tanzfähigkeiten zu
            verbessern, alleine zu üben oder mit deiner Tanzgruppe
            zusammenzukommen? Pa'bailar bietet dir eine benutzerfreundliche
            Tanzraumbuchung, die es dir ermöglicht, den idealen Raum für dein
            individuelles Tanztraining zu finden und zu buchen.
        </p>
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
            Unsere Funktion zur Tanzraumbuchung ist die perfekte Lösung für
            Tänzerinnen und Tänzer, die einen Tanzraum in Kiel mieten möchten,
            um ihre Leidenschaft für das Tanzen unabhängig von festen Kurszeiten
            oder Studioplanungen auszuleben.
        </p>
    </div>
</section>

<section class="bg-gray-50 dark:bg-gray-800">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <!-- <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
            So funktioniert das Suchen und Buchen von Tanzräumen
        </h2>
        <div class="my-8 aspect-w-16 aspect-h-9">
            <iframe
                class="w-full h-full"
                src="https://www.youtube.com/embed/your-video-id"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div> -->
        @if (scriptsLoaded) {
        <div class="my-8 p-4 bg-white dark:bg-gray-700 rounded-lg shadow-md">
            <a-organization-page
                base-url="https://anny.co/b"
                organization="pabailar"
                placeholder-title="Pa'bailar"
                hide-resource-header="false"
                hide-organization-header="false"
                should-login="false"
                entity-id=""
                locale="de"
                default-list="resources"
                primary-color="#7a0638"
                secondary-color="#fbf3fb"
                primary-color-rgb="122, 6, 56"
                primary-color-hover="#970745"
                primary-color-overlay="rgba(122, 6, 56, 0.14)">
            </a-organization-page>
        </div>
        }
    </div>
</section>

<!-- <section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
            Übersicht aller Tanzräume Kiels
        </h2>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table
                class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead
                    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">Name des Studios</th>
                        <th scope="col" class="py-3 px-6">Adresse</th>
                        <th scope="col" class="py-3 px-6">Preise</th>
                        <th scope="col" class="py-3 px-6">Kontaktaufnahme</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th
                            scope="row"
                            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Studio Name
                        </th>
                        <td class="py-4 px-6">Straße 123, 24103 Kiel</td>
                        <td class="py-4 px-6">ab 20€/Stunde</td>
                        <td class="py-4 px-6">
                            <a
                                href="mailto:info@studioname.de"
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                                >E-Mail</a
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->

<section class="bg-gray-50 dark:bg-gray-800">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
            Warum Tanzraum suchen und buchen mit pa'bailar
        </h2>
        <ul class="space-y-4 text-gray-500 dark:text-gray-400">
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Einfache und schnelle Buchung:</strong> Unsere
                    Plattform ermöglicht es dir, einen Tanzraum in Kiel schnell
                    und unkompliziert zu finden und zu reservieren.</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Vielfältige Optionen:</strong> Von kleinen Studios
                    für individuelles Training bis hin zu größeren Räumen für
                    Gruppensessions oder private Tanzpartys.</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Flexible Verfügbarkeit:</strong> Die Tanzräume sind
                    zu verschiedenen Zeiten verfügbar, was dir die Flexibilität
                    gibt, deine Trainingseinheiten nach deinem eigenen Zeitplan
                    zu gestalten.</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Ideale Übungsbedingungen:</strong> Viele Studios
                    bieten Spiegelwände, eine gute Akustik und geeignete
                    Tanzböden.</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong
                        >Verfügbarkeit für verschiedene Bedürfnisse:</strong
                    >
                    Buche Räume für private Übungssessions, spezielle
                    Choreografiepraxis oder entspannende Tanztreffen.</span
                >
            </li>
            <li class="flex items-center space-x-3">
                <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span
                    ><strong>Transparente Informationen:</strong> Alle wichtigen
                    Details zu den verfügbaren Räumen, Preisen, Ausstattung und
                    Buchungsbedingungen auf einen Blick.</span
                >
            </li>
        </ul>
        <p class="mt-4 text-lg text-gray-500 dark:text-gray-400">
            Mit Pa'bailar kannst du die Freiheit genießen, dein Tanztraining
            nach deinen eigenen Vorstellungen zu gestalten. Die unkomplizierte
            Tanzraumbuchung Kiel ermöglicht es dir, deinen Trainingsort flexibel
            zu wählen und ihn an deine individuellen Bedürfnisse anzupassen.
        </p>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <h2 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white">
            Noch nicht bereit einen Tanzraum zu buchen?
        </h2>
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
            Möchtest du einen Tanzraum buchen, hast aber noch keinen Tanzpartner
            oder keine Gruppe? Kein Problem! Nutze die
            <a
                href="/connect"
                class="text-blue-600 hover:underline dark:text-blue-500"
                >Pa'bailar Connect-Funktion</a
            >, um dich mit anderen Tänzerinnen und Tänzern aus deiner Umgebung
            zu vernetzen. So findest du leicht Gleichgesinnte für deine
            Tanzsessions.
        </p>
        <p class="mb-4 text-lg text-gray-500 dark:text-gray-400">
            Interessierst du dich für das Tanzen im Freien? In unserer Pa'bailar
            Tanzwiki präsentieren wir dir die Lieblingsorte der Tänzer in Kiel,
            die sich hervorragend für Outdoor-Tanzsessions eignen. Schau dir
            unsere Empfehlungen an und finde den perfekten Ort, um das
            Tanzvergnügen in der Natur zu genießen.
        </p>
        <p class="mb-8 text-lg text-gray-500 dark:text-gray-400">
            Falls du lieber den konventionellen Weg gehen und einen passenden
            Tanzkurs suchen möchtest, findest du hier eine umfassende Übersicht
            über alle Salsa-, Bachata- und Kizomba-Kurse in Kiel. Egal, ob du
            neu einsteigen oder deine Tanzfähigkeiten weiterentwickeln möchtest,
            Optionen gibt es reichlich.
        </p>

        <div class="flex flex-col sm:flex-row justify-center gap-4 mt-8">
            <a
                href="/wiki"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Pa'bailar Tanzwiki
                <svg
                    class="w-4 h-4 ml-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <a
                href="/kurse"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Tanzkurse in Kiel
                <svg
                    class="w-4 h-4 ml-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</section>

