<section class="bg-white dark:bg-gray-900">
    <div class="pb-8 px-4 mx-auto max-w-screen-xl lg:pb-16 lg:px-6">
        <div
            class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2
                class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">
                Raum-Buchung
            </h2>
            <p class="mb-4 font-light">
                Unsere Book-Room-Funktion bietet dir die Möglichkeit, einen Raum
                in einem Tanzstudio zu buchen, um alleine, mit deinem
                Tanzpartner oder in einer Gruppe zu üben. Egal, ob du deine
                Tanzschritte perfektionieren möchtest, eine private
                Übungssession planst oder einfach nur einen Ort zum Entspannen
                und Tanzen suchst - mit unserer Book-Room-Funktion findest du
                schnell und unkompliziert den idealen Übungsraum.
            </p>
            <p class="mb-4 font-medium">
                Erlebe die Freiheit, dein Tanztraining nach deinen eigenen
                Vorstellungen zu gestalten, und nutze unsere Book-Room-Funktion,
                um deinen Tanztraum Wirklichkeit werden zu lassen!
            </p>
        </div>
    </div>
</section>
<section class="mx-auto flex flex-col items-center">
    @for (room of rooms | async; track room.id) {
    <app-room-preview [room]="room" class="py-1"></app-room-preview>
    } @empty {
    <div class="text-center text-slate-400 dark:text-slate-500">
        Keine Räume entsprechen deiner Suche.
    </div>
    }
</section>
