<section class="bg-white dark:bg-gray-900">
    <div
        class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                Willkommen im Tanzparadies
            </h1>
            <p
                class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                Von der Entdeckung lokaler Tanzveranstaltungen bis zur einfachen
                Reservierung von Tanzlokalen - auf Pabailar ist alles möglich.
                Entdecke und buche unkompliziert die besten Tanzlocations in
                deiner Nähe und tanze los!
            </p>
            <a
                href="rooms"
                class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Buche jetzt
                <svg
                    class="w-5 h-5 ml-2 -mr-1"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <a
                href="events"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Finde Events 🕺💃
            </a>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img
                class="rounded-2xl"
                src="../../../assets/img/ardian-lumi-6Woj_wozqmA-unsplash.jpg"
                alt="" />
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Willkommen bei Pa'bailar
            </h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                dem digitalen Raum für Tanz und Bewegung in der Kieler SBK
                Szene. Hier findest du alles, was du brauchst, um deine
                Leidenschaft für Tanz und Bewegung zu leben. Entdecke unsere
                vielfältigen Angebote und treffe Gleichgesinnte in unserer
                Community. Denn wir glauben daran, dass Bewegung verbindet und
                gemeinsam noch mehr Spaß macht.
            </p>
        </div>
        <div
            class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <div
                    class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                    <svg
                        class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z" />
                    </svg>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Tanzen</h3>
                <p class="text-gray-500 dark:text-gray-400">
                    Pa'bailar ist deine zentrale Anlaufstelle für Salsa, Bachata
                    und Kizomba (SBK) in Kiel. Egal, ob du ein erfahrener
                    SBK-Tänzer bist oder gerade erst deine ersten Schritte in
                    diesen leidenschaftlichen Tanzstilen wagst, Pa'Bailar ist
                    hier, um dich mit der SBK-Tanzszene in Kiel zu verbinden.
                </p>
            </div>
            <div>
                <div
                    class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                    <svg
                        class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            fill-rule="evenodd"
                            d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Events</h3>
                <p class="text-gray-500 dark:text-gray-400">
                    Unsere Plattform bietet dir eine umfassende Übersicht über
                    SBK-Tanzkurse, -events und -gemeinschaften in Kiel und
                    Umgebung. Tauche ein in die Welt von Salsa, spüre die
                    romantischen Klänge von Bachata und erlebe die mitreißenden
                    Rhythmen von Kizomba - alles auf Pa'bailar.
                </p>
            </div>
            <div>
                <div
                    class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                    <svg
                        class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z" />
                    </svg>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Energie</h3>
                <p class="text-gray-500 dark:text-gray-400">
                    Trete ein in unser SBK-Tanzparadies und lass dich von der
                    Energie und Begeisterung für Salsa, Bachata und Kizomba
                    mitreißen!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div
        class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img
            class="w-full rounded-2xl"
            src="../../../assets/img/samantha-gades-fIHozNWfcvs-unsplash_small.jpg"
            alt="" />
        <div class="mt-4 md:mt-0">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Event- und Kursinformationen
            </h2>
            <p
                class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                Erhalte alle wichtigen Informationen zu den heißesten
                SBK-Tanzveranstaltungen und Kursen in Kiel! Unser
                benutzerfreundlicher Kalender hält dich auf dem Laufenden über
                kommende Events und Kurse, damit du keine Gelegenheit zum Tanzen
                verpasst.
            </p>
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div
        class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Raumbuchung
            </h2>
            <p class="mb-4">
                Reserviere einen Tanzraum für deine individuelle Tanzpraxis! Ob
                alleine, mit deinem Tanzpartner oder einer Selbstlerngruppe -
                bei uns findest du eine Auswahl an Studios, in denen du üben und
                dein Können verbessern kannst.
            </p>
            <p>
                Egal ob du erst am Anfang stehst oder schon auf Advanced Level
                tanzt, hier kannst du in Ruhe tanzen, üben und dich entfalten.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img
                class="w-full rounded-lg"
                src="../../../assets/img/preillumination-seth-cNlQpTstCK8-unsplash.jpg"
                alt="office content 1" />
            <img
                class="mt-4 w-full lg:mt-10 rounded-lg"
                src="../../../assets/img/nihal-demirci-erenay-1Pf3wKdKGYY-unsplash.jpg"
                alt="office content 2" />
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div
        class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img
            class="w-full rounded-2xl"
            src="../../../assets/img/serhii-kindrat-NfNSeJ8ghL0-unsplash_small.jpg"
            alt="dashboard image" />
        <div class="mt-4 md:mt-0">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Connect
            </h2>
            <p
                class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                Finde den idealen Tanzpartner für dein nächstes Tanzabenteuer!
                Nutze unsere Connect-Funktion und trete den passenden
                WhatsApp-Gruppen bei, in denen du Gleichgesinnte treffen und
                dich für Events verabreden kannst. Egal, ob du einen festen
                Tanzpartner suchst oder eine Gruppe von Tanz-Liebhabern, hier
                findest du die perfekte Verbindung.
            </p>
        </div>
    </div>
</section>
